contourpy==1.3.3
cycler==0.12.1
fonttools==4.59.1
kiwisolver==1.4.9
matplotlib==3.10.5
mysql==0.0.3
mysqlclient==2.2.7
numpy==2.3.2
packaging==25.0
pillow==11.3.0
psycopg2==2.9.10
pyparsing==3.2.3
python-dateutil==2.9.0.post0
six==1.17.0
